@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #040303;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: rgb(19, 19, 19);
}

.customscroll::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
.customscroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
.customscroll::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.customscroll::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }